meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="description", content="nmhillusion space")
meta(data-hid="description" name="description" content="nmhillusion space")
meta(name="keywords", content="nmhillusion,portfolio")
meta(charset="utf-8")
meta(name="google-site-verification" content="gV29Mn-BmZt1srjMN1rQqr3QpT7h7W5qx5my7ajpL3Q")

link(rel="icon" type="image/jpg" href="/assets/favicon.jpg")
link( rel="preconnect", href="https://fonts.googleapis.com")
link( rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
link( href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Raleway:wght@900&family=Montserrat:wght@500&family=Open+Sans&display=swap", rel="stylesheet")
link(rel="stylesheet", href="/layouts/scss/general.css")

style#variables(type="text/css").
  :root {
    --main-font: "Open Sans";
    --title-font: "Raleway";
    --key-font: "Montserrat";
    --code-font: "IBM Plex Mono";
  }