doctype html
html(lang="en")
  head
    title Error[404] | {{ n2v:app.name }}
    include ../../../layouts/components/head-common.comp.pug
    link(rel="stylesheet", href="style.scss")
  body 
    .card-container
      .card
        .title ERROR [404]
        .description This page does not exists, please re-check
        .action 
          a.btn.btn-back(href="/") Back to Home