.card-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #999;

  .card {
    background-color: white;
    border: solid 1px darkcyan;
    padding: 0;
    border-radius: 3px;
    box-shadow: 2px 2px 15px #333333;
    transition: box-shadow .5s ease-in;

    &:hover {
      box-shadow: 0px 0px 5px #333333;
    }

    .title {
      font-family: var(--key-font);
      font-size: 24px;
      background-color: darkcyan;
      color: white;
      font-weight: 900;
      padding: 0.5em;
    }

    .description {
      padding: 1.2em;
      font-family: var(--code-font);
    }

    .action {
      padding: 1em;

      .btn-back {
        font-family: var(--code-font);
        color: darkcyan;
        border: solid 1px currentColor;
        padding: 0.8em 1.2em;
        text-decoration: none;

        &:hover {
          color: white;
          background-color: darkcyan;
        }
      }
    }
  }
}
