head
  title Crawl News | nmhillusion

  include ../../layouts/components/head-common.comp.pug
  link(rel="stylesheet", href="style.scss")

body
  .loading-container
    .loading ...loading...
  .news-board
    .board-info
      a.title(target="_blank")
      .count-down(title="Click to edit")
      .board-description 
    .boarding-content
      iframe#board-news(border="0")

  .news-list

  include ../../layouts/components/footer.comp.pug

  script(src="./script.ts", type="module") 