.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  .loading {
    padding: 1em 0;
    font-family: var(--code-font);
    font-size: 12px;
    text-align: center;
    display: block;
    width: 100%;
    color: white;
    background-color: orangered;
    animation: loadingAnim 1s ease-in-out alternate infinite;
  }

  @keyframes loadingAnim {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.news-board {
  opacity: 0;
  display: flex;
  border-bottom: dashed 1px #999999;
  padding: 1em;
  margin: 1em 0;
  flex-direction: column;
  justify-content: center;

  .board-info {
    display: grid;
    grid-template-areas:
      "title count-down"
      "description description";
    justify-content: center;

    a.title {
      grid-area: title;
      padding: 1em;
      font-family: var(--key-font);
      font-size: 18px;
      color: orangered;
      display: block;
    }

    .count-down {
      grid-area: count-down;
      border-left: solid 3px navy;
      padding: 1em;
      display: inline-block;
      align-self: center;
      justify-self: center;
      font-family: var(--code-font);
      font-size: 12px;
      cursor: pointer;

      &:hover {
        background-color: navy;
        color: white;
      }
    }

    .board-description {
      grid-area: description;
      justify-self: center;
      display: inline-block;
      border: dashed 2px #999;
      padding: 1em;
      font-family: var(--main-font);
      font-size: 13px;
      line-height: 1.5em;
      border-radius: 1.2em;
      border-top-left-radius: 0;
      width: 30em;
      max-width: calc(100vw - 2em);
      margin: 0.5em 0;

      * {
        max-width: 90%;
        max-width: -webkit-fill-available;
      }
    }
  }

  .boarding-content {
    padding: 1em;
    background-color: #888;
    display: flex;
    justify-content: center;

    iframe#board-news {
      width: 60em;
      max-width: 80vw;
      height: 80vh;
      border: 0;
    }
  }
}

.news-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: solid 1px #eeeeee;
  padding: 0.1em;
  margin: auto;
  width: auto;
  max-width: 100vw;

  .news-item {
    width: 30em;
    max-width: 90vw;
    max-width: -webkit-fill-available;
    margin: 1em 0;
    padding: 0.5em;
    border: solid 1px #eeeeee;
    cursor: pointer;

    &:hover {
      border-color: #999999;
    }

    &.selected {
      border-color: #36f;
    }

    .title {
      font-family: var(--key-font);
      font-size: 14px;
      font-weight: 900;
    }

    .description {
      margin: 0.5em;
      padding: 0.5em;
      font-family: var(--main-font);
      font-size: 13px;
      line-height: 1.5em;

      * {
        max-width: 90%;
        max-width: -webkit-fill-available;
      }
    }

    .news-footer {
      display: flex;
      justify-content: space-between;

      * {
        font-family: var(--code-font);
        font-size: 11px;
      }

      .open-news {
        padding: 0 0.5em;
        border-radius: 3px;
        background-color: #eee;

        &:hover {
          background-color: #999;
        }
      }
    }
  }
}
