html, body {
  line-height: 1.5em;
  padding: 0;
  margin: 0;
}

* {
  object-fit: fill;
  box-sizing: border-box;
}

footer {
  font-family: var(--code-font), Verdana, sans-serif;
  font-size: 11px;
  color: #eeeeee;
  display: block;
  text-align: center;
}