head
  title {{ n2v:app.name }} | {{ n2v:app.description }}

  include ./layouts/components/head-common.comp.pug
  link(rel="stylesheet", href="./main.style.scss" type="text/css")
  meta(name="google-site-verification", content="ThHLOi-xrrbEqYgCd37VPV40WDcufYu4plRF0_pOlMM")
body
  header 
    background
    banner 
      .flashing
      .main nmhillusion
      .sub keep silent and calm down

  article 
    session#introduction
      title Introduction
      content
        .part#description
          .text a programer / a writter / a reader
        .part#skill
          label Skill
          .part-container
            .entry Languages:
            each val, idx in ["Java/Kotlin", "Javascript/Typescript", "SCSS", "SQL"]
              .item= val
            .entry Frameworks/Platforms:
            each val, idx in ["Spring Boot", "Angular", "Android/Flutter", "ElectronJS"]
              .item= val
        .part#experience
          label Experience
          .part-container
            p.
              Teach-Self enthusiast, a new tech or a lot of things can be learn by yourself.
            p.
              Maintain, delevop and study for projects in work environment. Legacy project will have its own interesting and wisdom.
            p.
              Open-Source enthusiast, I share what I know to all of you and vice versa, We will make BIG projects together by contributions of many people. These will make a better world.
            p.
              Programming is not just coding, move over than that. Think about the problem, Think more about problem, Design it, Implement it,...and repeat all these of things. This will make programming more beautiful once you see another perpective and a more perfect approach to the problem.
        .part#career
          label Career
          .part-container
            .entry CHUBB Life: 2019 - now
            p A good place to work for, lots of people to follow and study from, a big legacy project to dive in, a big space to develop if you dare.
            ul
              li eLearning - LMS system, `student` able to use it to improve their knowledge, also a lot of exams to required `student` to complete. Now, I'm working to make this system available to use the SCORM standard - variety categories and content, more interactive between `student` and `system`
              li SmartAgency project, a big project with a lot of modules inside of it. Many developers join to complete it, more and more to make it perfectly.
              li Paperless processes, a company with less paper as more as posible, due to a lot of systems will be appeared to adapt. From contract, attendant, business approval process, policy printing.
              li Security is no longer a strange thing now. When tecnology goes further and further, a lot of vulnerabilities will be find out and threaten to user information. Our mission is to protect it under the safe zone.
              li A legacy project is not just a huge boring, it is also a treasure if more understand of it - eBao system - our core system to make insurance process in operation.
        .part#link
          label Links
          .part-container 
            .entry#email Email: 
              a(href="mailto:nguyenminhhieu.geek@gmail.com") nguyenminhhieu.geek@gmail.com
            .entry#linkedin
              a(href="https://www.linkedin.com/in/nmhillusion/" target="_blank") LinkedIn
            .entry#twitter
              a(href="https://twitter.com/nmhillusion" target="_blank") Twitter
            .entry#facebook
              a(href="https://fb.me/nmhillusion" target="_blank") Facebook
            //- .entry#leetcode
            //-   a(href="https://leetcode.com/nmhillusion/" target="_blank") LeetCode
            .entry#porfolio
              a(href="/") My Porfolio Page (here)
            .entry#blog
              a(href="https://kuby-block.netlify.com/" target="_blank") My Personal Blog

    session#project
      title Project
      content
        .part#github
          label GitHub
          .loading ...loading...
          .project-list
        .part#gitlab
          label GitLab
          .loading ...loading...
          .nav-box
            button.previous-btn Previous
            .page-info
              span Page 
              .pageNumber
              span of 
              .totalPages
            button.next-btn Next
          .project-list
  
  include ./layouts/components/footer.comp.pug

  script(src="./main.script.ts", type="module")

