$mainColor: darkcyan;

html,
body {
  margin: 0;
  background-color: #222222;
  color: #eeeeee;
}

header {
  height: 70vh;
  min-height: 10em;
  display: flex;
  align-items: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url(./assets/header.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }

  background {
    opacity: 0.8;
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at center, $mainColor 0, black 100%);
  }

  banner {
    --margin-line: 20px;

    padding: 0.5em 0em;
    color: #efefef;
    background-color: rgba(255, 255, 255, 0.1);
    font-family: var(--title-font);
    display: block;
    text-align: center;
    width: 100vw;
    position: relative;
    text-shadow: 0 0 1px #359bed;
    overflow: hidden;

    .main {
      font-size: 45px;
      font-weight: 900;
      line-height: 1.5em;
    }

    .sub {
      font-size: 25px;
      font-weight: 900;
      line-height: 1.2em;
    }

    @mixin banner-line {
      content: "";
      position: absolute;
      display: block;
      width: 400px;
      max-width: calc(100vw - var(--margin-line));
      height: 1px;
      border: none;
      background-color: #ffffff;
      box-shadow: 0 0 4px #ffffff, 0 0 4px #359bed;
    }

    &::before {
      @include banner-line();

      right: var(--margin-line);
      top: 0;
    }

    &::after {
      @include banner-line();

      left: var(--margin-line);
      bottom: 0;
    }

    $flashing-width: 8em;
    .flashing {
      position: absolute;
      left: 1em;
      top: 0;
      height: 100%;
      width: $flashing-width;
      transform: skewX(-30deg);
      background-color: rgba($color: #ffffff, $alpha: 0.1);
      z-index: 1;
      animation: flashing_anim 13.12s ease-in-out infinite;
      box-shadow: 0 0 13px rgba($color: #ffffff, $alpha: 0.1);
    }

    @keyframes flashing_anim {
      0% {
        left: min(calc(1em + $flashing-width * 2), 8%);
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        left: max(
          calc(100% - 1em - $flashing-width * 2),
          calc(100% - 1em - $flashing-width)
        );
        opacity: 0;
      }
    }
  }
}

article {
  display: flex;
  align-items: center;
  flex-direction: column;

  session {
    width: 100%;
    max-width: 60em;
    box-shadow: 0 0 3px #222222;
    margin: 2em 0;
    padding: 1em;
    box-sizing: border-box;

    title {
      display: block;
      font-family: var(--key-font);
      font-size: 30px;
      font-weight: 600;
      color: #ffffff;
      padding: 0.8em 1em;
      background-color: rgba(255, 255, 255, 0.1);
      box-shadow: 0 0 10px #111111;
    }

    content {
      .part {
        display: block;
        margin: 1.5em 0;
        border-top: solid 1px $mainColor;
        background-color: rgba(51, 51, 51, 0.25);
        padding: 0 1.2em 1.2em 1.2em;
        font-family: var(--main-font);

        .part-container {
          font-size: 13px;
        }

        label {
          display: inline-block;
          background-color: $mainColor;
          color: #ffffff;
          font-size: 13px;
          font-family: var(--code-font);
          padding: 0.6em 1.2em;
        }

        .entry {
          color: #ffffff;
          font-size: 13px;
          font-family: var(--code-font);
          text-decoration: underline;
          margin: 0.8em 0;
        }

        .item {
          display: inline-block;
          padding: 0.2em 1.2em;
          margin: 0.5em;
          background-color: transparent;
          border-radius: 5em;
          border: solid 1px #eee;
          line-height: 2em;
          font-size: 11px;

          &:hover {
            color: #359bed;
            box-shadow: 1px 1px 5px #111;
          }
        }

        &#description {
          padding: 0em;
          border: solid 1px darkcyan;

          .text {
            font-family: var(--code-font);
            padding: 1em;
          }
        }

        &#link {
          .entry {
            object-fit: fill;
            background-color: rgba(55, 55, 55, 0.7);
            padding: 0.3em 1em 0.3em 3.5em;
            margin: 0.3em;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: 2em 2em;
            background-position: 0.2em center;
            transition: background-size 1.2s linear;
            color: #eff;
            border: solid 1px transparent;

            &:hover {
              background-size: min(2.5em, 100%) min(2.5em, 100%);
              border: solid 1px #fff;
              box-shadow: 1px 1px 5px #000;
            }

            a {
              text-decoration: none;
              cursor: pointer;
              color: #eff;
            }

            &#email {
              background-image: url("./assets/social/mail.png");
            }

            &#facebook {
              background-image: url("./assets/social/facebook.png");
            }

            &#twitter {
              background-image: url("./assets/social/twitter.png");
            }

            &#linkedin {
              background-image: url("./assets/social/linkedin.png");
            }

            &#leetcode {
              background-image: url("./assets/social/LeetCode.png");
            }

            &#porfolio {
              background-image: url("./assets/social/hyperlink.png");
            }

            &#blog {
              background-image: url("./assets/social/hyperlink.png");
            }
          }
        }
      }
    }

    &#project {
      .project-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .project-item {
          display: inline-block;
          position: relative;
          width: 26em;
          margin: 0.25em;
          box-shadow: 1px 1px 4px #222222;
          padding: 0.5em;
          border: solid 1px rgba($mainColor, 0.1);
          border-bottom-color: rgba($mainColor, 0.6);

          &:hover {
            border-color: rgba($mainColor, 0.6);

            .name::before {
              color: #fff;
              background-color: rgba($mainColor, 0.9);
            }

            .link {
              display: block;
            }
          }

          .name {
            font-family: var(--key-font);
            font-size: 13px;

            &::before {
              content: attr(data-first-letter);
              font-size: 200%;
              color: $mainColor;
              width: 40px;
              height: 40px;
              display: inline-flex;
              justify-content: center;
              align-items: center;
              margin-right: 5px;
              background-color: rgba($mainColor, 0.1);
              border-bottom: solid 1px
                adjust-color($color: $mainColor, $lightness: 10%);
              border-radius: 3px;
            }
          }

          .description {
            font-family: var(--main-font);
            font-size: 12px;
            padding: 0.7em;
            background-color: #222222;
          }

          .languages {
            display: flex;
            flex-wrap: wrap;

            .language {
              color: $mainColor;
              font-family: var(--code-font);
              font-size: 11px;
              padding: 0 0.8em;
              border: solid 1px rgba(0, 139, 139, 0.2);
            }
          }

          .link {
            font-size: 11px;
            display: none;
            position: absolute;
            bottom: 0.5em;
            right: 0.5em;
            padding: 0.2em 1.5em;
            background-color: rgba($mainColor, 0.1);
            border-right: solid 1px adjust-color($color: $mainColor, $lightness: 10%);
            color: white;
            text-decoration: none;
            cursor: pointer;

            &:hover {
              background-color: rgba($mainColor, 0.8);
              border: solid 1px adjust-color($color: $mainColor, $lightness: 10%);
            }
          }
        }
      }

      #github {
        .loading {
          font-family: var(--code-font);
          font-size: 12px;
        }
      }

      #gitlab {
        .loading {
          font-family: var(--code-font);
          font-size: 12px;
        }

        .nav-box {
          display: flex;
          justify-content: end;
          margin: 1em;

          button {
            cursor: pointer;
            background-color: transparent;
            border: solid 1px currentColor;
            color: $mainColor;
            padding: 0.25em 1em;

            &:disabled {
              color: gray;
            }
          }

          .page-info {
            display: flex;
            font-family: var(--code-font);
            font-size: 11px;

            * {
              padding: 0.5em;
            }
          }
        }
      }
    }
  }
}
